a { color: blue; }
i { font-style: italic; }
b { font-weight: bold; }
strong {font-weight: bold; }
small { font-size: 80%;  }
big { font-size: 120%; }
abbr { 
    font-family: "Courier";
    font-size: 70%;
    font-weight: bold;
}
sup {
    font-size: 50%;
    vertical-align: super;
}
sub {
    font-size: 50%;
    vertical-align: sub;
}
code {font-family: "Courier";}
em {font-style: italic;}


html { display: block; }
body { 
    display: block;
    margin: 8px;
}
article { display: block; }
section {display: block;}
nav { display: block; }
aside {display: block;}
h1 {
    display: block;
    font-size: 160%;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 150%;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 140%;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 130%;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: 120%;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: 110%;
    font-weight: bold;
}
hgroup {display: block;}
header {display: block;}
footer {display: block;}
address {display: block;}
p {display: block;}
hr {display: block;}
pre {display: block;}
blockquote {display: block;}

ol, ul { /*Keeping things simple and not supporting decimal list-style-type*/
    display: block;
    list-style-type: disc;
}

ul ul, ol ul {
    list-style-type: circle
}
ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style-type: square
}

li {display: list-item;}

menu {display: block;}

dl {display: block;}
dt {display: block; } 
dd {display: block; }
figure {display: block; }
figcaption {display: block; }
main {display: block;}
div {display: block;}
table {display: block;}
form {display: block;}
fieldset {display: block;}
legend {display: block;}
details {display: block;}
summary {display: block;}
br {display:block;}
hr {display:block;}

center {
    display: block;
    text-align: center;
}